<html>
  <head>
    <title>homepage</title>
    <link rel="stylesheet" href="/public/stylesheet.css" />
  </head>
  <body style="background-color: black;">
    <h1 style="color: white;">Welcome <%= pageName %> page</h1>
    <%- include('../partials/footer') %>
  </body>
</html>
